.song-list {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.song-item {
  width: 254px;
  height: 48px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-item img {
  width: 48px;
  height: 48px;
}

.song-item .song-info {
  width: 198px;
  height: 42px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
}

.song-title {
  font-weight: 700;
}

.song-data {
  font-weight: 400;
  display: flex;
  align-items: center;
}
