.song-card {
  width: 200px;
  height: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.song-card-imagen {
  width: 200px;
  height: 200px;
}

.song-card-imagen .img {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.song-card-imagen .img .buttons {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 190px;
  justify-content: space-between;
  align-items: flex-end;
}

.song-card-imagen button {
  background: none;
  cursor: pointer;
  border: none;
}

.song-card-imagen .options {
  width: 18px;
  height: 18px;
  padding: 0;
}

.song-card-imagen .play {
  height: 40px;
  width: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 5px 1px 1px 6px;
}

.song-card-imagen .pause {
  height: 40px;
  width: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-card-data {
  height: 64px;
  width: 198px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  color: #fff;
  font-family: "Inter";
  line-height: 19px;
}

.song-card-data span {
  width: 100%;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.song-card-data p {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
}
